.title{
    font-family: SEGOE PRINT;
    font-size: 75px;
    color: #CD9F43;
    text-align: center;
    margin-top:10px;
}
.hasbik,
.musichasbik{
    text-align:center;
    margin-top: 5px;
}
.back{
    text-align: center;
}